<div class="jumbotron">
    <div class="btn-group">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <!--<label>Timer with timeout: {{timerWithTimeout | hhmmss}}</label>-->
        <!--<button ng-click="startTimerWithTimeout()">Start Timer</button>-->
        <!--<button ng-click="resetTimerWithTimeout()">reset tiemr</button>-->
        <!--<br><br>-->
        <span>
            <label>Task time: {{timerWithInterval | hhmmss}}</label>
            <!--<label>Time so far: {{ timerWithInterval | number : 'h:mm:ss' }}</label>-->
            <span id="startStop" href="#Toggle_StartStop" ng-click="startStopTimerWithInterval()"
                  class="btn btn-large btn-default">
                Start BCI
            </span>
        </span>

        <!--<a href="#Toggle_PauseResume" class="btn btn-large btn-success">-->
        <!--Pause Resume-->
        <!--</a>-->
    </div>

</div>
