<div class="row">
    <div class="jumbotron">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

        <h2>Task time: {{timerWithInterval | hhmmss}}

            <span id="concentrationScore">

            </span>
        </h2>
        <span id="startStop" ng-click="startStopTimerWithInterval()"
              class="btn btn-large btn-primary">
            Start BCI
        </span>
        <!--<label>Time so far: {{ timerWithInterval | number : 'h:mm:ss' }}</label>-->

    </div>
</div>
<div class="row">
    <span  id="live-focus" ng-if="isDisplayingStream"><livestream-chart></livestream-chart></span>

</div>
